@using Apilane.Common.Models;
@using Apilane.Common.Utilities;

@{
    ViewBag.Title = "Forgot password confirmation";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";

    DBWS_Application Application = (DBWS_Application)ViewBag.Application;
}

<form class="form-horizontal">
    <h2 class="text-center mb-3">@Application.Name</h2>

    Please check your email to reset your password.
</form>