@using Apilane.Common.Models;
@using Apilane.Common.Utilities;
@model Apilane.Api.Areas.Account.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";

    DBWS_Application Application = (DBWS_Application)ViewBag.Application;
}

@using (Html.BeginRouteForm("areas", new { controller = "Manage", action = "ForgotPassword" }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    <h2 class="text-center mb-3">@Application.Name</h2>

    <div class="text-center mb-3">
        Enter your email address that you used to register. We'll send you an email with a link to reset your password.
    </div>
    <div class="form-group mb-3">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = 50, placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary btn-block" type="submit">Send the email</button>
}