@{
    ViewBag.Title = "Email confirmed";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form class="form-horizontal" style="max-width:500px;">
    <h4 class="text-light"> Thank you for confirming your email!</h4>
</form>
