
@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form class="form-horizontal">
    <h4 class="text-light">Your password has been reset.</h4>
    <hr />
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Sign in</a>
</form>
