@model Apilane.Portal.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    <h2 class="text-center mb-4 text-light">Apilane</h2>

    <div class="form-group mb-3">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", maxlength = 50, placeholder = "Email" })
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group mb-3">
        Type the email address that you used to register. We'll send you an email with a link to reset your password.
    </div>

    <div class="d-grid">
        <button class="btn btn-primary" type="submit">Reset my password</button>
        <a href="@Url.Action("Index", "Applications")" class="btn btn-secondary">Cancel</a>
    </div>
}
